@font-face {
    font-family: 'gobigo';
    src: url('../fonts/go_font_v38.ttf');
}
@font-face {
    font-family: 'rubik';
    src: url('../static/fonts/Rubik-Regular.7dad6ed3.ttf');
}

:root {
    --primary-color: #FF6C39; /* Example primary color */
    --secondary-color: #2274E0; /* Example secondary color */
    --secondary-color-light: #EBF5FE; /* Example secondary color */
    --green-color: #19A060; /* Example secondary color */
    --grey-color : #EFF5FD;
    --light-yellow-color : #FEF9E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rubik";
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }